.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  direction: column;
  margin: 1rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.textarea {
  padding: 2rem;
}
